<% @cards.each do |card| %>
  <div class="voting-card" id="card_<%= card.id %>">

    <% if card.post.image? %>
      <%= link_to image_tag(card.post.image.url), [card.post.user, card.post] %>
    <% end %>

    <%= form_for(card.votes.build, remote: true) do |f| %>
      <div><%= hidden_field_tag :card_id, card.id %></div>

      <div class="voting-buttons">
        <%= button_tag name: "commit", value: "No", type: "submit", class: "uk-button uk-button-default" do %>
          <span uk-icon="icon: close"></span>
        <% end %>

        <%= button_tag name: "commit", value: "Yes", type: "submit", class: "uk-button uk-button-default" do %>
          <span uk-icon="icon: check"></span>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>