<div class="uk-margin-large search-form">
  <%= form_tag(explore_path, method: :get) do %>
    <div class="uk-margin">
      <%= label_tag :gender %>
      <%= select_tag :gender, options_for_select(
                    ["Both", "Male", "Female"], params[:gender]), class: "uk-select" %>
    </div>

    <% if params[:colours].nil? %>
      <div class="uk-margin">
        <% @colours.each do |colour| %>
          <%= label_tag colour %>
          <%= check_box_tag "colours[]", colour, false,
                            class: "uk-checkbox" %>
        <% end %>
      </div>
    <% else %>
      <div class="uk-margin">
        <% @colours.each do |colour| %>
          <%= label_tag colour %>
          <%= check_box_tag "colours[]", colour, params[:colours].include?(colour) ? true : false,
                            class: "uk-checkbox" %>
        <% end %>
      </div>
    <% end %>


    <div class="uk-inline search-bar">
      <a class="uk-form-icon" href="#" uk-icon="icon: search"></a>
      <%= text_field_tag :term, params[:term], class: "uk-input" %>
    </div>
    <%= submit_tag 'Search', name: nil, class: "uk-button uk-button-default search-submit" %>
  <% end %>
</div>

<% if @posts.any? %>
  <div id="my-posts" class="grid">
    <%= render @posts %>
  </div>
<% else %>
  <h1 class="uk-heading-line uk-text-center"><span>Sorry, no posts.</span></h1>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate @posts %>
</div>