<%= form_tag(explore_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% if @posts %>
  <div id="my-posts" class="grid">
    <%= render @posts %>
  </div>
<% else %>
  <h2>No posts</h2>
<% end %>

<div id="infinite-scrolling" style="display: none;">
  <%= will_paginate @posts %>
</div>