<% if params[:term].nil? || params[:term].empty? %>
  <h2>Please enter a username</h2>
<% end %>

<% if @users.empty? %>
  <h2>No users matching that username</h2>
<% end %>

<%= form_tag(find_users_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% if @users.any? %>
  <h2>Users</h2>
  <% @users.each do |u| %>
    <li><%= link_to u.username, u %>
      <% if current_user.following?(u)%>
        - Following
      <% else %>

      <% end %>
    </li>
  <% end %>
<% end %>

<%= will_paginate @users %>