<div class="uk-margin-large search-form">
  <%= form_tag(find_users_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], class: "uk-input" %>
    <%= submit_tag 'Search', name: nil, class: "uk-button uk-button-default search-submit" %>
  <% end %>
</div>

<% if @users.any? %>
  <div id="my-users">
    <%= render @users %>
  </div>
<% else %>
  <h1 class="uk-heading-line uk-text-center"><span>Sorry, no users match that search.</span></h1>
<% end %>

<div id="infinite-scrolling" style="display: none;">
  <%= will_paginate @users %>
</div>