<%= devise_error_messages! %>

<div class="uk-form-stacked user-form uk-card uk-card-default">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="uk-card-header">
    <h2 class="uk-card-title"><span uk-icon="icon: user"></span>Edit Profile</h2>
  </div>

  <div class="uk-card-body">
    <div class="avatar-card">
      <div id="target">
        <% if current_user.avatar.url.present? %>
          <%= image_tag(current_user.avatar.url) %>
        <% else %>
          <%= image_tag 'default-avatar' %>
        <% end %>
      </div>
      <div class="avatar-button">
        <label for="pictureInput" class="uk-button uk-button-default">Profile Picture</label>
        <%= f.file_field :avatar, id: "pictureInput" %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    </div>


  <div class="uk-margin">
      <%= f.label :email, class: "uk-form-label" %>
      <div class="uk-form-control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
      </div>
    </div>

    <div class="uk-margin">
      <%= f.label :username, class: "uk-form-label" %>
      <div class="uk-form-control">
        <%= f.text_field :username, autofocus: true, class: "uk-input" %>
      </div>
    </div>

  <div class="uk-margin">
      <%= f.label :description, class: "uk-form-label" %>
      <div class="uk-form-control">
        <%= f.text_area :description, class: "uk-textarea", size: "10x5",
                        placeholder: "optional" %>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label">Usual gender posted</label>
      <div class="uk-form-control">
        <div>
          <%= f.label :gender_male, 'Male', class: "radio-label" %>
          <%= f.radio_button :gender, 'Male', class: "uk-radio" %>
        </div>

        <div>
          <%= f.label :gender_female, 'Female', class: "radio-label" %>
          <%= f.radio_button :gender, 'Female', class: "uk-radio" %>
        </div>
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="uk-margin">
      <div class="uk-form-control">
        <%= f.label :password, class: "uk-form-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "uk-input",
                              placeholder: "minimum length #{@minimum_password_length}" %>
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-control">
        <%= f.label :password_confirmation, class: "uk-form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "uk-input" %>
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-form-control">
        <%= f.label :current_password, class: "uk-form-label" %>
        <i class="uk-form-label">(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off", class: "uk-input" %>
      </div>
    </div>

    <div class="uk-margin">
      <%= f.submit "Update", class: "uk-button uk-button-primary" %>
    </div>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name),
              data: { confirm: "Are you sure?" }, method: :delete,
              class: "uk-button uk-button-danger" %>
  </div>
</div>