<%= form_for([@post.user, @post, @comment]) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= image_tag @post.image.url if @post.image? %>

    <div class="uk-card uk-card-default uk-form-stacked uk-margin">
      <div class="uk-card-header">
        <h2 class="uk-card-title">New Comment</h2>
      </div>

      <div class="uk-card-body">
        <div class="uk-margin">
          <%= form.label :body, class: "uk-form-label" %>
          <%= form.text_area :body, class: "uk-textarea", size: "10x5" %>
        </div>

        <div class="uk-margin">
          <%= form.submit "Submit", class: "uk-button uk-button-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>