<%= link_to 'Liked Photos', liked_photos_user_path(@user) %>

<div class="user-show-info">
  <div>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url %>
    <% else %>
      <%= image_tag 'default-avatar' %>
    <% end %>
  </div>

  <div class="user-show-info-side">
    <h2><%= @user.username %></h2>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </div>
</div>

<% unless @user.description.nil? %>
  <div class="user-show-description">
    <%= @user.description %>
  </div>
<% end %>

<% if current_user?(@user) %>
  <%= link_to "New Post", new_user_post_path(current_user),
              class: "uk-button uk-button-primary user-show-button user-new-post-button" %>
  <%= link_to "Edit Profile", edit_user_registration_path,
              class: "class: uk-button uk-button-secondary user-show-button user-edit-profile-button" %>
<% else %>
  <%= render 'follow_form' if user_signed_in? %>
<% end %>

<% if @posts.any? %>
  <div id="my-posts" class="grid">
    <%= render @posts %>
  </div>
<% else %>
  <h1 class="uk-heading-line uk-text-center"><span>Sorry, no posts.</span></h1>
<% end %>


<div id="infinite-scrolling">
  <%= will_paginate @posts, style: "color: white;" %>
</div>