<%= devise_error_messages! %>

<div class="uk-form-stacked user-form uk-card uk-card-default">
  <div class="uk-card-header">
    <h2 class="uk-card-title"><span uk-icon="icon: lock"></span>Change Your Password</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="uk-card-body">

      <div class="uk-margin">
        <%= f.label :password, class: "uk-form-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "uk-input",
                              placeholder: "minimum length #{@minimum_password_length}" %>
      </div>

      <div class="uk-margin">
        <%= f.label :password_confirmation, class: "uk-form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "uk-input" %>
      </div>

      <div class="uk-margin">
        <%= f.submit "Change Password", class: "uk-button uk-button-primary" %>
      </div>
    </div>
  <% end %>

  <div class="uk-card-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
