<%= devise_error_messages! %>

<div class="uk-form-stacked user-form uk-card uk-card-default">
  <div class="uk-card-header">
    <h2 class="uk-card-title"><span uk-icon="icon: lock"></span>Forgot your password?</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

   <div class="uk-card-body">
      <div class="uk-margin">
        <%= f.label :email, class: "uk-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
      </div>

      <div class="uk-margin">
        <%= f.submit "Send me reset instructions", class: "uk-button uk-button-primary" %>
      </div>
    </div>
  <% end %>

  <div class="uk-card-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>