<%= form_for([current_user, @post, @clothing_article]) do |form| %>
  <% if @clothing_article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clothing-article-form">
    <%= image_tag @post.image.url if @post.image? %>


     <div class="uk-card uk-card-default uk-form-stacked uk-margin">
      <div class="uk-card-header">
        <h2 class="uk-card-title">Edit</h2>
      </div>

      <div class="uk-card-body">
        <div class="uk-margin">
          <%= form.label :title, class: "uk-form-label" %>
          <%= form.select :title, options_for_select([
            ['Pants'], ['Shorts'], ['Dress'], ['Skirt'], ['Shirt'], ['Sweater'],
            ['Outerwear'], ['Footwear'], ['Headwear'], ['Accessory'], ['Suit'],
          ], @clothing_article.title), {}, class: "uk-select" %>
        </div>

        <div class="uk-margin">
          <%= form.label :description, class: "uk-form-label" %>
          <%= form.text_area :description, class: "uk-textarea", size: "10x5" %>
        </div>

        <div class="uk-margin">
          <%= form.label :url, class: "uk-form-label" %>
          <%= form.text_field :url, class: "uk-input" %>
        </div>

        <div class="uk-margin">
          <%= form.submit "Submit", class: "uk-button uk-button-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>