<%= image_tag @post.image.url if @post.image? %>

<%= form_for([current_user, @post, @clothing_article]) do |form| %>
  <% if @clothing_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clothing_article.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @clothing_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.select(:title, options_for_select([
      ['Pants'], ['Shorts'], ['Dress'], ['Skirt'], ['Shirt'], ['Sweater'],
      ['Outerwear'], ['Footwear'], ['Headwear'], ['Accessory'], ['Suit'],
    ], @clothing_article.title)) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>