<div class="uk-form-stacked user-form user-login uk-card uk-card-default">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="uk-card-header">
      <h2 class="uk-card-title">Log In</h2>
    </div>

    <div class="uk-card-body">
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <%= f.text_field :login, autofocus: true, class: "uk-input" %>
        </div>
      </div>


      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
          <%= f.password_field :password, autocomplete: "off", class: "uk-input" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="uk-margin">
          <%= f.check_box :remember_me, class: "uk-checkbox" %>
          <%= f.label :remember_me, class: "radio-label" %>
        </div>
      <% end -%>

      <div class="uk-margin">
        <%= f.submit "Log In", class: "uk-button uk-button-primary" %>
      </div>
    </div>
  <% end %>

  <div class="uk-card-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>