<%= form_for(@post, url: [current_user, @post]) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <%= message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-form-stacked user-form uk-card uk-card-default">
    <div class="uk-card-header">
      <h2 class="uk-card-title"><span uk-icon="icon: image"></span>Edit Post</h2>
    </div>

    <div class="uk-card-body">
      <div class="avatar-card">
        <div id="target">
          <%= image_tag @post.image.url if @post.image? %>
        </div>
        <div class="avatar-button">
          <label for="pictureInput" class="uk-button uk-button-default">Image</label>
          <%= form.file_field :image, id: "pictureInput" %>
        </div>
      </div>

      <div class="uk-margin">
        <%= form.label :description, class: "uk-form-label" %>
        <%= form.text_area :description, class: "uk-textarea", size: "10x5" %>
      </div>

      <div class=uk-margin">
        <div>
          <%= form.label :gender, "Male", class: "radio-label" %>
          <%= form.radio_button :gender, "Male", checked: current_user.gender == "Male",
                                class: "uk-radio" %>
        </div>
        <div>
          <%= form.label :gender, "Female", class: "radio-label" %>
          <%= form.radio_button :gender, "Female", checked: current_user.gender == "Female",
                                class: "uk-radio" %>
        </div>
      </div>

      <div class="uk-margin">
        <%= form.label :style %>
          <%= form.select :style, options_for_select(
                        %w(Boho Business Casual Classic Formal Grunge Preppy Street Sporty Trendy Vintage),
                        selected: @post.style),
                        { include_blank: true }, { class: "uk-select", selected: @post.style } %>
      </div>

      <% if @post.colours.nil? %>
        <div class="uk-margin">
          <% @colours.each do |colour| %>
            <%= label_tag colour %>
            <%= check_box_tag "colours[]", colour, false,
                              class: "uk-checkbox" %>
          <% end %>
        </div>
      <% else %>
        <div class="uk-margin">
          <% @colours.each do |colour| %>
            <%= label_tag colour %>
            <%= check_box_tag "colours[]", colour, @post.colours.include?(colour) ? true : false,
                              class: "uk-checkbox" %>
          <% end %>
        </div>
      <% end %>

      <div class="uk-margin">
        <%= form.submit class: "uk-button uk-button-primary" %>
      </div>
    </div>
  <% end %>
</div>