<%= image_tag @post.image.url if @post.image? %>
<p><%= @post.description %></p>

<p id="likes"><%= @post.likes.count %></p>
<%= render 'like_form' %>


<% if current_user?(@user) %>
  <%= link_to 'Back', @user %>
  <%= link_to 'Destroy', [current_user, @post], method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_user_post_path(current_user, @post) %>
<% end %>